@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
body {
    font-family: 'Roboto', sans-serif;
    background: linear-gradient(70deg, #00FFC5, #000000);
    margin: 0;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
